body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkred;
    text-align: center;
    margin: 0;
}

.cv-title {
    color: #fff1f1;
    background-color: darkred;
    margin-top: 30px;
    padding: 6px 14px;
    border-radius: 8px;
    text-decoration: none;
    opacity: 0.87;
}

.cv-link {
    color: #ecc5c5;
    text-decoration: none;   
    margin: 200px;
}

hr {
    background-color: darkred;
    height: 3px;
}

.strawberry-image{
    height: 30px;
    width: 30px;
    margin-top: 15px;
}

.start-button{
    color: #fff1f1;
    background-color: darkred;
    margin-top: 30px;
    padding: 6px 14px;
    border-radius: 8px;
    text-decoration: none;
}

ul li {
    background-color: #ecc5c5;
    color: darkred;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 30px;
    border-radius: 8px;
}

.interests-card {
    width: 345px;
    height: 180px;
    border: 1px solid darkred;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 50px;
    padding: 4px;
    padding-bottom: 225px;
}

.interests-text{
    padding-top: 40px;
}

.me-text{
    float: cneter;
    margin-left: 400px;
    margin-right: 400px;
}

.cat-image {
    width: 200px;  
    height: auto;  
    text-align: center;  
    padding: 5px;  
    border: 3px solid darkred; 
    border-radius: 8px; 
}

.background-image {
    background-image: url("../images/background.png");
    color: #fff1f1;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: none !important;
    border: 0;
    margin: 0;
    width: inherit;
    height: inherit;
}